.main
  width: 100%
  background-image: url('../img/main/bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  position: relative
  z-index: 2
  @media ( width: 1920px )
    max-height: 100vh
    overflow: hidden
  &>.container
    padding-bottom: 113px
  &__title
    text-align: center
    font-weight: bold
    font-size: 80px
    line-height: 98px
    padding-bottom: 50px
  &__title, &-hero__description
    color: $c-normal
  &-hero
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-row-gap: 48px
    grid-column-gap: 20px
    justify-items: center
    align-items: center
    @media ( max-width: $md2+px )
      grid-column-gap: 13px
    &__features
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
      >span
        flex-basis: 75%
        padding-left: 31px
        font-weight: bold
        line-height: 24px
        +adaptive-font(20, 14)
        @media ( max-width: $md2+px )
          padding-left: 18px
    &__form
      grid-column: span 2
      width: 100%
      background: #FFFFFF
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6)
      border-radius: 10px
      padding: 38px 65px 67px
      @media ( max-width: $md2+px )
        width: calc(100vw - 228px)
        padding-bottom: 48px
  &::after
    content: ''
    display: block
    width: 100%
    height: 309px
    position: absolute
    bottom: 0
    z-index: -1
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(255, 255, 255, 0.123) 50%, rgba(255, 255, 255, 0.3936) 100%)
  &-form
    &__title
      font-weight: bold
      font-size: 20px
      line-height: 24px
      span:not(.c-active)
        padding-left: 24px
        font-weight: 600
        font-size: 14px
        line-height: 17px
        color: #9f9f9f
    &__input
      @extend .input
      padding: 0px 32px
    &__submit
      @extend .button
      grid-area: submit
      width: 256px
    &__textarea
      resize: none
      padding-top: 16px
      max-height: none
    &__select
      appearance: none
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L9.99999 10L20 0H0Z' fill='%239f9f9f'/%3E%3C/svg%3E")
      background-repeat: no-repeat
      background-position: bottom 19px right 30px
      &:focus
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L9.99999 10L20 0H0Z' fill='%232747F0'/%3E%3C/svg%3E")
    &-wrapper
      padding-top: 31px
      display: grid
      grid-template: repeat(4, minmax(50px, 1fr)) / repeat(2, 1fr) repeat(2, minmax(220px, 1fr))
      grid-gap: 20px 30px
      grid-template-areas: "name name date time" "tel tel from to" "comment comment class class" "comment comment submit ."
      @media ( max-width: $md2+px )
        justify-content: center
        grid-template-rows: repeat(8, minmax(50px, 1fr))
        grid-template-columns: minmax(195px,1fr) minmax(175px, 1fr)
        grid-template-areas: "name name" "tel tel" "comment comment" "comment comment" "date time" "from to" "class class" "submit ."
      &>*
        &[placeholder="Имя"]
          grid-area: name
        &[placeholder="Телефон"]
          grid-area: tel
        &[placeholder="Комментарий"]
          grid-area: comment
        &[placeholder="Дата заказа такси"], &[type="date"]
          grid-area: date
          width: fit-content
        &[placeholder="Время"], &[type="time"]
          grid-area: time
          margin-left: 30px
        &[placeholder="Откуда"]
          grid-area: from
        &[placeholder="Куда"]
          grid-area: to
          width: calc(fit-content - 30px)
      >select
        grid-area: class
